{% extends 'offcanvas.html' %}
{% block title %}
APPRAISAL
{% endblock %}

{% block head %}

{% endblock %}
{% block main %}
<script src="../../static/css/boot/js/vendor.bundle.base.js"></script>
<section class="dash2">
    <div class="content-wrapper general-bgw" style="padding-bottom: 5rem;">
        <!--alert -->
        {% include 'alerts.html' %}

        {% if HOD_User == True %}
        {% include 'hod.html' %}
        {% else %}
        {% include 'users.html' %}
        <!-- Start Employee Appraisal -->

        {% endif %}
    </div>
</section>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>

{% endblock %}