{% extends 'offcanvas.html' %}
{% block title %}
APPRAISAL
{% endblock %}

{% block head %}

{% endblock %}
{% block main %}
<script src="../../static/css/boot/js/vendor.bundle.base.js"></script>

<section class="dash2">
    <div class="content-wrapper" style="padding-bottom: 5rem;">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb shadow-lg  d-flex justify-content-start inner-breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{% url 'dashboard' %}" class="breadcrumbs text-danger">
                            <i class="fa fa-home"></i>
                            Home</a>
                    </li>
                    <li class="breadcrumb-item ">
                        <a href="{% url 'AppraisalRequests' %}" class="breadcrumbs text-dark">
                            Appraisal
                        </a>
                    </li>
                    <li class="breadcrumb-item ">
                        <a href="{% url 'HODAppraisalRequests' financial_year %}" class="breadcrumbs text-dark">
                            Appraisal Targets
                        </a>
                    </li>
                    <li class="breadcrumb-item "><span class="breadcrumbs text-muted">
                            Targets {{target.Code}}
                        </span></li>
                </ol>
            </div>
        </div>
        <div class="d-xl-flex justify-content-end align-items-start">
            <div class="d-sm-flex justify-content-xl-between align-items-center mb-2">

                <div class="dropdown ml-0 ml-md-4 mt-2 mt-lg-0">
                    <button class="btn btn-successs p-3 d-flex align-items-center" type="button" data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop"> <i class="las la-plus"></i> Assign Targets
                    </button>
                </div>
            </div>
        </div>
        <!--alert -->
        {% include 'alerts.html' %}
        <div class="row my-3">
            <div class="col-md-3">
                <div class="card l-bg-cherry statCard h-100">
                    <div class="card-statistic-3 p-4">
                        <div class="card-icon card-icon-large"><i class="fas fa-dollar-sign"></i></div>
                        <div class="mb-4">
                            <h5 class="card-title mb-0">Target Code</h5>
                        </div>
                        <div class="row align-items-center mb-2 d-flex">
                            <div class="col-md-12">
                                <h2 class="d-flex align-items-center mb-0">
                                    {{target.Code}}
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card l-bg-blue-dark statCard h-100">
                    <div class="card-statistic-3 p-4">
                        <div class="card-icon card-icon-large"><i class="fas fa-users"></i></div>
                        <div class="mb-4">
                            <h5 class="card-title mb-0">Maximum Score</h5>
                        </div>
                        <div class="row align-items-center mb-2 d-flex">
                            <div class="col-md-12">
                                <h2 class="d-flex align-items-center mb-0">
                                    {{target.MaximumScore}}
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card l-bg-green-dark statCard h-100">
                    <div class="card-statistic-3 p-4">
                        <div class="card-icon card-icon-large"><i class="fas fa-calendar-alt"></i></div>
                        <div class="mb-4">
                            <h5 class="card-title mb-0">Department Code</h5>
                        </div>
                        <div class="row align-items-center mb-2 d-flex">
                            <div class="col-md-12">
                                <h2 class="d-flex align-items-center mb-0">
                                    {{target.DepartmentCode}}
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card l-bg-orange-dark statCard h-100">
                    <div class="card-statistic-3 p-4">
                        <div class="card-icon card-icon-large"><i class="fas fa-calendar-times"></i></div>
                        <div class="mb-4">
                            <h5 class="card-title mb-0">Total Maximum Score</h5>
                        </div>
                        <div class="row align-items-center mb-2 d-flex">
                            <div class="col-md-12">
                                <h2 class="d-flex align-items-center mb-0">
                                    {{target.TotalMaximumScore}}
                                </h2>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-12">
                <div id="accordion" class="accordion-style">
                    <div class="card mb-3">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    Details
                                </button>
                            </h5>
                        </div>
                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-bs-parent="#accordion">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <form class="row g-3">
                                            <div class="col-md-3">
                                                <label class="form-label">Quarter 1</label>
                                                <input type="text" class="form-control"
                                                    placeholder="{{target.Quarter1}}" readonly>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="form-label">Quarter 2</label>
                                                <input type="text" class="form-control"
                                                    placeholder="{{target.Quarter2}}" readonly>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="form-label">Quarter 3 </label>
                                                <input type="text" class="form-control"
                                                    placeholder="{{target.Quarter3}}" readonly>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="form-label">Quarter 4 </label>
                                                <input type="text" class="form-control"
                                                    placeholder="{{target.Quarter4}}" readonly>
                                            </div>

                                            <div class="col-md-12">
                                                <label class="form-label">Description</label>
                                                <textarea class="form-control"
                                                    placeholder="{{target.TargetDescription}}" rows="3"
                                                    readonly></textarea>
                                            </div>
                                    </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-header" id="headingThree">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#collapseThree"
                                    aria-expanded="true" aria-controls="collapseThree">Employees Assigned</button>
                            </h5>
                        </div>
                        <div id="collapseThree" class="collapse show" aria-labelledby="headingThree"
                            data-bs-parent="#accordion">
                            <div class="card-body">
                                <div class="row mt-4">
                                    <div class="col-md-12">
                                        <table id="example"
                                            class="display table table-striped table-bordered dt-responsive table-responsive-lg"
                                            style="width:100%">
                                            <thead>
                                                <tr id="tops">
                                                    <th id="long">Employee No</th>
                                                    <th>Employee Name</th>
                                                    <th>Target No</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for outputEmployees in outputEmployees %}
                                                <tr>
                                                    <td>{{outputEmployees.EmployeeNo}}</td>
                                                    <td>{{outputEmployees.EmployeeName}}</td>
                                                    <td>{{outputEmployees.DepartmentalTarget}}</td>
                                                    <td>
                                                        <form action="{% url 'HODInitiate' %}" method="post">
                                                            {% csrf_token %}
                                                            <input type="hidden" name="DepartmentalTarget"
                                                                value="{{outputEmployees.DepartmentalTarget}}">
                                                            <input type="hidden" name="empNo"
                                                                value="{{outputEmployees.EmployeeNo}}">
                                                            <button class="btn btn-success btn-icon-text" type="submit"
                                                                data-toggle="tooltip" data-placement="top" title="View">
                                                                Initiate Target <i class="far fa-eye"></i>
                                                            </button>
                                                        </form>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    </div>
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true" style="height:350px !important">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Assign To Employees
                    </h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="myForm" action="{% url 'HODDetails' target.Code %}" method="post" novalidate>
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-12">
                                <input type="hidden" name="lineNo" value="0">
                                <input type="hidden" name="myAction" value="insert">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label class="form-label">Select Employee <span class="text-danger">*</span></label>
                                <select class="form-select" name="employeeNo" required>
                                    <option selected disabled value="0">--select--</option>
                                    {% for availableEmployees in availableEmployees %}
                                    <option value="{{availableEmployees.Employee_No_}}">{{availableEmployees.User_ID}}
                                    </option>
                                    {% empty %}
                                    <option selected disabled value="0">All Employees Assigned.</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success my-3 w-100">Submit</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- Modal -->
<div class="modal fade" id="Attachment" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Upload Attachment</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{% url 'UploadTargetAttachment' target.Code %}" method="post" class="myForm"
                    enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class=" mb-3">
                        <label class="form-label">Attachments </label>
                        <input class="form-control" name="attachment" type="file" multiple>
                    </div>
                    <button type="submit" class="btn btn-success my-3 w-100">Submit</button>
                </form>

            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        window.setTimeout(function () {
            $('.LargeDatepicker').Zebra_DatePicker({
                direction: -1,
                format: 'd-m-Y',
                show_week_number: 'Wk',

            });
        }, 100);
        var utc = new Date().toJSON().slice(0, 10).replace(/-/g, '-');
        var x = document.getElementById("Expenditure").max = utc;
        var text = document.getElementById("Expenditure").getAttribute("max");
    })
</script>

{% endblock %}