{% extends 'offcanvas.html' %}
{% block title %}
GENERAL REQUISITION
{% endblock %}
{% block main %}
<script src="../../../static/css/boot/js/vendor.bundle.base.js"></script>
<section class="dash2">
    <div class="content-wrapper general-bg" style="padding-bottom: 5rem;">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb shadow-lg  d-flex justify-content-start inner-breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{% url 'dashboard' %}" class="breadcrumbs text-danger">
                            <i class="fa fa-home"></i>
                            Home
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <span class="breadcrumbs text-muted">
                            General Requisition
                        </span>
                    </li>
                </ol>
            </div>
        </div>
        <!--alert -->
        {% include 'alerts.html' %}
        <div class="row my-2">
            <div class="col-md-12">
                <div class="card data-card">
                    <h1 class="heading display-5 pb-3"><img src="../../../static/img/logo/fav.png" width="70px"
                            class="img-fluid"> General Requisition
                        <span>
                            <button type="submit" class="btn btn-successs" data-bs-toggle="modal"
                                data-bs-target="#staticBackdrop" style="float: right;outline: none;border: none;"> <i
                                    class="las la-plus text-white" style="font-size:15px;"></i> New Requisition
                            </button>
                        </span>
                    </h1>
                    <div class="m-4">
                        <ul class="nav nav-tabs table-tabs d-flex" id="myTab">
                            <li class="nav-item flex-fill">
                                <a href="#home" class="nav-link" data-bs-toggle="tab">Open
                                    <span class="ml-1 badge rounded-pill green_icon">
                                        {{res|length}}
                                    </span>
                                </a>
                            </li>
                            <li class="nav-item flex-fill">
                                <a href="#pending" class="nav-link" data-bs-toggle="tab">Pending Approval
                                    <span class="ml-1 badge rounded-pill green_icon">
                                        {{pending|length}}
                                    </span>
                                </a>
                            </li>
                            <li class="nav-item flex-fill">
                                <a href="#profile" class="nav-link active" data-bs-toggle="tab">Approved
                                    <span class="ml-1 badge rounded-pill green_icon">
                                        {{response|length}}
                                    </span>
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade" id="home">
                                <h4 class="mt-2 text-dark">Open Requests</h4>
                                <div class="card-body">
                                    <table id="example"
                                        class="display table table-striped table-bordered dt-responsive table-responsive-lg"
                                        style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>Request No.</th>
                                                <th>Document Date</th>
                                                <th>Order Date</th>
                                                <th>Status</th>
                                                <th>Requested By</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for res in res %}
                                            {% if res.Rejected_By_Approver == True and res.Status == 'Open' %}
                                            <tr style="background: #fee36e !important;">
                                                <td>{{res.No_}}</td>
                                                <td id="rejected_doc_date{{res.No_}}">{{res.Document_Date}}</td>
                                                <td id="rejected_order_date{{res.No_}}">{{res.Order_Date}}</td>
                                                <td>{{res.Status}}</td>
                                                <td>{{res.Requested_By}}</td>
                                                <script>
                                                    $(document).ready(function () {
                                                        $("#rejected_doc_date{{res.No_}}")
                                                            .empty().append(moment(
                                                                    '{{res.Document_Date}}', "YYYY-MM-DD")
                                                                .format(
                                                                    'Do MMM YYYY'));

                                                        $("#rejected_order_date{{res.No_}}")
                                                            .empty().append(moment(
                                                                    '{{res.Order_Date}}', "YYYY-MM-DD")
                                                                .format(
                                                                    'Do MMM YYYY'));
                                                    });
                                                </script>
                                                <td>
                                                    <button class="btn btn-primary" data-bs-toggle="modal"
                                                        data-bs-target="#trainedits{{res.No_}}" data-toggle="tooltip"
                                                        data-placement="top" title="edit">Edit <i
                                                            class="fas fa-edit"></i>
                                                    </button>
                                                    <a href="{% url 'GeneralRequisitionDetails' res.No_ %} "
                                                        class="btn btn-success btn-icon-text" type="button"
                                                        data-toggle="tooltip" data-placement="top"
                                                        title="Click to View"> View <i class="far fa-eye"></i>
                                                    </a>
                                                    <!-- Modal -->
                                                    <div class="modal fade" id="trainedits{{res.No_}}"
                                                        data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                                                        aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                                        <div
                                                            class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="staticBackdropLabel">
                                                                        <i class="las la-edit"></i> Edit Request
                                                                        <span class="editSpan">{{res.No_}}</span>
                                                                    </h5>
                                                                    <button type="button"
                                                                        class="btn-close btn-close-white"
                                                                        data-bs-dismiss="modal"
                                                                        aria-label="Close"></button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <form class="myForm "
                                                                        action="{% url 'GeneralRequisition' %}"
                                                                        method="post" novalidate>
                                                                        {% csrf_token %}
                                                                        <div class="mb-2">
                                                                            <div class="row">
                                                                                <div class="col-md-12">
                                                                                    <input type="hidden"
                                                                                        name="requisitionNo"
                                                                                        value="{{res.No_}}">
                                                                                </div>
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="col-md-12">
                                                                                    <input type="hidden" name="myAction"
                                                                                        value="modify">
                                                                                </div>
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="col-md-12">
                                                                                    <label for=""
                                                                                        class="form-label">Order
                                                                                        Date</label>
                                                                                    <input type="date" name="orderDate"
                                                                                        class="form-control"
                                                                                        value="{{res.Order_Date}}"
                                                                                        required>
                                                                                </div>
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="col-md-12">
                                                                                    <label for=""
                                                                                        class="form-label">Detail</label>
                                                                                    <textarea class="form-control"
                                                                                        name="reason" rows="3"
                                                                                        required>{{res.Reason_Description}}</textarea>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <button type="submit"
                                                                            class="btn btn-success my-3 w-100">Submit</button>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            {% else %}
                                            <tr>
                                                <td>{{res.No_}}</td>
                                                <td id="open_doc_date{{res.No_}}">{{res.Document_Date}}</td>
                                                <td id="open_order_date{{res.No_}}">{{res.Order_Date}}</td>
                                                <td>{{res.Status}}</td>
                                                <td>{{res.Requested_By}}</td>
                                                <script>
                                                    $(document).ready(function () {
                                                        $("#open_doc_date{{res.No_}}")
                                                            .empty().append(moment(
                                                                    '{{res.Document_Date}}', "YYYY-MM-DD")
                                                                .format(
                                                                    'Do MMM YYYY'));

                                                        $("#open_order_date{{res.No_}}")
                                                            .empty().append(moment(
                                                                    '{{res.Order_Date}}', "YYYY-MM-DD")
                                                                .format(
                                                                    'Do MMM YYYY'));
                                                    });
                                                </script>
                                                <td>
                                                    <button class="btn btn-primary" data-bs-toggle="modal"
                                                        data-bs-target="#trainedit{{res.No_}}" data-toggle="tooltip"
                                                        data-placement="top" title="edit">Edit <i
                                                            class="fas fa-edit"></i>
                                                    </button>
                                                    <a href="{% url 'GeneralRequisitionDetails' res.No_ %} "
                                                        class="btn btn-success btn-icon-text" type="button"
                                                        data-toggle="tooltip" data-placement="top"
                                                        title="Click to View"> View <i class="far fa-eye"></i>
                                                    </a>
                                                    <!-- Modal -->
                                                    <div class="modal fade" id="trainedit{{res.No_}}"
                                                        data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                                                        aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                                        <div
                                                            class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="staticBackdropLabel">
                                                                        <i class="las la-edit"></i> Edit Request
                                                                        <span class="editSpan">{{res.No_}}</span>

                                                                    </h5>
                                                                    <button type="button"
                                                                        class="btn-close btn-close-white"
                                                                        data-bs-dismiss="modal"
                                                                        aria-label="Close"></button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <form class="myForm"
                                                                        action="{% url 'GeneralRequisition' %}"
                                                                        method="post" novalidate>
                                                                        {% csrf_token %}
                                                                        <div class="mb-2">
                                                                            <div class="row">
                                                                                <div class="col-md-12">
                                                                                    <input type="hidden"
                                                                                        name="requisitionNo"
                                                                                        value="{{res.No_}}">
                                                                                </div>
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="col-md-12">
                                                                                    <input type="hidden" name="myAction"
                                                                                        value="modify">
                                                                                </div>
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="col-md-12">
                                                                                    <label for=""
                                                                                        class="form-label">Order
                                                                                        Date</label>
                                                                                    <input type="date" name="orderDate"
                                                                                        class="form-control"
                                                                                        value="{{res.Order_Date}}"
                                                                                        required>
                                                                                </div>
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="col-md-12">
                                                                                    <label for=""
                                                                                        class="form-label">Detail</label>
                                                                                    <textarea class="form-control"
                                                                                        name="reason" rows="3"
                                                                                        required>{{res.Reason_Description}}</textarea>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <button type="submit"
                                                                            class="btn btn-success my-3 w-100">Submit</button>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            {% endif %}
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade show active" id="profile">
                                <div class="card-body">
                                    <table id="example"
                                        class="display table table-striped table-bordered dt-responsive table-responsive-lg"
                                        style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>Request No.</th>
                                                <th>Document Date</th>
                                                <th>Order Date</th>
                                                <th>Status</th>
                                                <th>Requested By</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for res in response %}
                                            <tr>
                                                <td>{{res.No_}}</td>
                                                <td id="approved_doc_date{{res.No_}}">{{res.Document_Date}}</td>
                                                <td id="approved_order_date{{res.No_}}">{{res.Order_Date}}</td>
                                                <td>{{res.Status}}</td>
                                                <td>{{res.Requested_By}}</td>
                                                <script>
                                                    $(document).ready(function () {
                                                        $("#approved_doc_date{{res.No_}}")
                                                            .empty().append(moment(
                                                                    '{{res.Document_Date}}', "YYYY-MM-DD")
                                                                .format(
                                                                    'Do MMM YYYY'));

                                                        $("#approved_order_date{{res.No_}}")
                                                            .empty().append(moment(
                                                                    '{{res.Order_Date}}', "YYYY-MM-DD")
                                                                .format(
                                                                    'Do MMM YYYY'));
                                                    });
                                                </script>
                                                <td>
                                                    <a href="{% url 'GeneralRequisitionDetails' res.No_ %} "
                                                        class="btn btn-success btn-icon-text" type="button"
                                                        data-toggle="tooltip" data-placement="top"
                                                        title="Click to View"> View <i class="far fa-eye"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="pending">
                                <div class="card-body">
                                    <table id="example"
                                        class="display table table-striped table-bordered dt-responsive table-responsive-lg"
                                        style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>Request No.</th>
                                                <th>Document Date</th>
                                                <th>Order Date</th>
                                                <th>Status</th>
                                                <th>Requested By</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for res in pending %}
                                            <tr>
                                                <td>{{res.No_}}</td>
                                                <td id="pending_doc_date{{res.No_}}">{{res.Document_Date}}</td>
                                                <td id="pending_order_date{{res.No_}}">{{res.Order_Date}}</td>
                                                <td>{{res.Status}}</td>
                                                <td>{{res.Requested_By}}</td>
                                                <script>
                                                    $(document).ready(function () {
                                                        $("#pending_doc_date{{res.No_}}")
                                                            .empty().append(moment(
                                                                    '{{res.Document_Date}}', "YYYY-MM-DD")
                                                                .format(
                                                                    'Do MMM YYYY'));

                                                        $("#pending_order_date{{res.No_}}")
                                                            .empty().append(moment(
                                                                    '{{res.Order_Date}}', "YYYY-MM-DD")
                                                                .format(
                                                                    'Do MMM YYYY'));
                                                    });
                                                </script>
                                                <td>
                                                    <a href="{% url 'GeneralRequisitionDetails' res.No_ %} "
                                                        class="btn btn-success btn-icon-text" type="button"
                                                        data-toggle="tooltip" data-placement="top"
                                                        title="Click to View"> View <i class="far fa-eye"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Raise Request
                    </h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="myForm" action="{% url 'GeneralRequisition' %}" method="post" novalidate>
                        {% csrf_token %}
                        <input type="hidden" name="myAction" value="insert">
                        <input type="hidden" name="requisitionNo" value="">
                        <div class="mb-2">
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="" class="form-label">Order Date <span
                                            class="text-danger">*</span></label>
                                    <input type="date" name="orderDate" class="form-control" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="" class="form-label">Detail</label>
                                    <textarea class="form-control" name="reason" rows="3" required></textarea>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success my-3 w-100">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}