{% extends 'offcanvas.html' %}
{% block title %}
PURCHASE REQUISITION DETAILS
{% endblock %}
{% block main %}
<script src="../../../static/css/boot/js/vendor.bundle.base.js"></script>
<section class="dash2">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb shadow-lg  d-flex justify-content-start inner-breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{% url 'dashboard' %}" class="breadcrumbs text-danger">
                            <i class="fa fa-home"></i>
                            Home</a>
                    </li>
                    <li class="breadcrumb-item ">
                        <a href="{% url 'purchase' %}" class="breadcrumbs text-dark">
                            Store Request
                        </a>
                    </li>
                    <li class="breadcrumb-item "><span class="breadcrumbs text-muted">
                            {{res.No_}}
                        </span>
                    </li>
                </ol>
            </div>
        </div>
        <div class="d-xl-flex justify-content-end align-items-start">
            <div class="d-sm-flex justify-content-xl-between align-items-center mb-2">
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    {% if res.Status == "Open" %}
                    <button class="btn btn-successs me-md-2" type="button" data-bs-toggle="modal"
                        data-bs-target="#Attachment">
                        <i class="fas fa-upload mr-1" style="display:inline-block"></i> Upload Attachment</button>
                    <button class="btn btn-successs" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                        type="button"><i class="las la-plus text-white" style="font-size:15px;"></i> Add Store
                        Lines</button>
                    {% elif res.Status == "Released" %}
                    <form action="{% url 'FnGenerateStoreReport' res.No_ %}" method="post" style="display:inline-block">
                        {% csrf_token %}
                        <button class="btn btn-successs" type="submit"> Preview
                            Report</button>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
        <!--alert -->
        {% include 'alerts.html' %}
        <div class="row my-3">
            <div class="col-md-4">
                <div class="card l-bg-cherry statCard h-100">
                    <div class="card-statistic-3 p-4">
                        <div class="card-icon card-icon-large"><i class="fas fa-users"></i></div>
                        <div class="mb-4">
                            <h5 class="card-title mb-0">Requested By</h5>
                        </div>
                        <div class="row align-items-center mb-2 d-flex">
                            <div class="col-md-12">
                                <h2 class="d-flex align-items-center mb-0">
                                    {{res.Requested_By}}
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card l-bg-blue-dark statCard h-100">
                    <div class="card-statistic-3 p-4">
                        <div class="card-icon card-icon-large"><i class="fas fa-users"></i></div>
                        <div class="mb-4">
                            <h5 class="card-title mb-0">Request Status</h5>
                        </div>
                        {% if res.Status == "Open" %}
                        <div class="row align-items-center mb-2 d-flex">
                            <div class="col-md-12">
                                <h2 class="d-flex align-items-center mb-0">
                                    {{res.Status}}
                                </h2>
                            </div>
                        </div>
                        <div class="progress mt-1 " data-height="8" style="height: 8px;">
                            <div class="progress-bar l-bg-red" role="progressbar" data-width="50%" aria-valuenow="25"
                                aria-valuemin="0" aria-valuemax="100"
                                style="width: 50%; background: linear-gradient(to right, #a86008, #c18b39) !important;">
                            </div>
                        </div>
                        {% elif res.Status == "Pending Approval" %}
                        <div class="row align-items-center mb-2 d-flex">
                            <div class="col-md-12">
                                <h2 class="d-flex align-items-center mb-0">
                                    {{res.Status}}
                                </h2>
                            </div>
                        </div>
                        <div class="progress mt-1 " data-height="8" style="height: 8px;">
                            <div class="progress-bar l-bg-yellow" role="progressbar" data-width="25%" aria-valuenow="25"
                                aria-valuemin="0" aria-valuemax="100"
                                style="width: 75%; background: linear-gradient(to right, #a86008, #c18b39) !important;">
                            </div>
                        </div>
                        {% elif res.Status == "Released" %}
                        <div class="row align-items-center mb-2 d-flex">
                            <div class="col-md-12">
                                <h2 class="d-flex align-items-center mb-0">
                                    Approved
                                </h2>
                            </div>
                        </div>
                        <div class="progress mt-1 " data-height="8" style="height: 8px;">
                            <div class="progress-bar l-bg-green" role="progressbar" data-width="75%" aria-valuenow="75"
                                aria-valuemin="0" aria-valuemax="100"
                                style="width: 100%; background: linear-gradient(to right, #a86008, #c18b39) !important;">
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card l-bg-orange-dark statCard h-100">
                    <div class="card-statistic-3 p-4">
                        <div class="card-icon card-icon-large"><i class="fas fa-calendar-times"></i></div>
                        <div class="mb-4">
                            <h5 class="card-title mb-0">Document Date</h5>
                        </div>
                        <div class="row align-items-center mb-2 d-flex">
                            <div class="col-md-12">
                                <h2 class="d-flex align-items-center mb-0" id="document_date">
                                    {{res.Document_Date}}
                                </h2>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="accordion" class="accordion-style">
                    <div class="card mb-3">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    Details
                                </button>
                            </h5>
                        </div>
                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-bs-parent="#accordion">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <form class="row g-3">
                                            <div class="col-md-4">
                                                <label class="form-label">Request Number</label>
                                                <input type="text" class="form-control" placeholder="{{res.No_}}"
                                                    readonly>
                                            </div>
                                            <div class="col-md-4">
                                                <label class="form-label">Posting Date</label>
                                                <input type="text" class="form-control"
                                                    placeholder="{{res.Posting_Date}}" readonly>
                                            </div>

                                            <div class="col-md-4">
                                                <label class="form-label">Employee Name</label>
                                                <input type="text" class="form-control"
                                                    placeholder="{{res.Employee_Name}}" readonly>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="form-label">Reason Description</label>
                                                <textarea class="form-control" placeholder="{{res.Reason_Description}}"
                                                    readonly></textarea>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-header" id="headingThree">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#collapseThree"
                                    aria-expanded="true" aria-controls="collapseThree">Store Request
                                    Lines</button>
                            </h5>
                        </div>
                        <div id="collapseThree" class="collapse show" aria-labelledby="headingThree"
                            data-bs-parent="#accordion">
                            <div class="card-body">
                                <div class="row mt-4">
                                    <div class="col-md-12">
                                        <table id="example"
                                            class="display table table-striped table-bordered dt-responsive table-responsive-lg"
                                            style="width:100%">
                                            <thead>
                                                <tr id="tops">
                                                    <th id="long">Item No</th>
                                                    <th>Description</th>
                                                    <th>Unit of Measure</th>
                                                    <th>Quantity</th>
                                                    {% if res.Status == "Open" %}
                                                    <th>Action</th>
                                                    {% endif %}
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for line in line %}
                                                <tr>
                                                    <td>{{line.No_}}</td>
                                                    <td>{{line.Description}}</td>
                                                    <td>{{line.Unit_of_Measure}}</td>
                                                    <td>{{line.Quantity}}</td>
                                                    {% if res.Status == "Open" %}
                                                    <td>
                                                        <form
                                                            action="{% url 'FnDeleteStoreRequisitionLine' line.AuxiliaryIndex1 %}"
                                                            method="post" style="display: inline-block;">
                                                            {% csrf_token %}
                                                            <input type="hidden" name="lineNo"
                                                                value="{{line.Line_No_}}">
                                                            <button type="submit" class="btn btn-danger"
                                                                data-toggle="tooltip" data-placement="top"
                                                                title="Delete"><i class="fas fa-trash-alt"></i>
                                                            </button>
                                                        </form>
                                                    </td>
                                                    {% endif %}
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-header" id="headingFour">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-bs-toggle="collapse"
                                    data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">My
                                    Attachments</button>
                            </h5>
                        </div>
                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                            data-bs-parent="#accordion">
                            <div class="row my-2">
                                {% for data in file %}
                                <div class="file-man-box">
                                    {% if res.Status == 'Open' %}
                                    <form action="{% url 'DeleteStoreAttachment' data.No_  %}" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="docID" value="{{data.AuxiliaryIndex2}}">
                                        <input type="hidden" name="tableID" value="{{data.Table_ID}}">
                                        <button class="file-close" id="file-close"><i
                                                class="fa fa-times-circle"></i></button>
                                    </form>
                                    {% endif %}
                                    <div class="file-img-box"><img src="../../static/img/logo/f1.png" alt="icon"></div>
                                    <form action="{% url 'getDocs' data.No_ data.Table_ID %}" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="attachmentID" value="{{data.AuxiliaryIndex2}}">
                                        <input type="hidden" name="File_Name" value="{{data.File_Name}}">
                                        <input type="hidden" name="File_Extension" value="{{data.File_Extension}}">
                                        <button class="file-download mx-1"><i
                                                class="fa fa-download text-success"></i></button>
                                    </form>
                                    <div class="file-man-title">
                                        <h5 class="mb-0 text-overflow">
                                            {{data.File_Name}}.{{data.File_Extension}}</h5>
                                    </div>
                                </div>
                                {% empty %}
                                <img src="../../static/icons/empty-box.png" class="img-fluid" height="100" width="100"
                                    alt="">
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        {% if res.Rejected_By_Approver == True and res.Status == 'Open' %}
        <div class="row my-2 py-3">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title mb-4">
                            Rejection Comments
                        </h4>
                        <div class="row">
                            <div class="chat-history">
                                <ul class="m-b-0">
                                    {% for comment in Comments %}
                                    <li class="clearfix">
                                        <div class="message-data">
                                            <span class="message-data-time">{{comment.User_ID}}</span>
                                        </div>
                                        <div class="message my-message">{{comment.Comment}}</div>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="row">
            <div class="col-md-12">
                {% if res.Status == "Open" %}
                <div class="myForm my-3">
                    <form action="{% url 'StoreApprove' res.No_ %}" method="POST" style="display: inline-block;">
                        {% csrf_token %}
                        <div class="mb-3">
                            <input type="hidden" name="requistionNo" value="{{res.No_}}">
                        </div>
                        <button class="btn btn-info" type="submit">Request For Approval</button>
                    </form>
                </div>
                {% elif res.Status == "Pending Approval" %}
                <div class="d-grid gap-2 my-3">
                    <form action="{% url 'StoreCancel' res.No_ %}" method="POST" class="myForm" id="approvalForm">
                        {% csrf_token %}
                        <div class="mb-3">
                            <input type="hidden" name="requistionNo" value="{{res.No_}}">
                        </div>
                        <button class="btn btn-info" type="submit">Cancel Request For Approval</button>
                    </form>
                </div>
                {% endif %}
            </div>
        </div>
        {% if res.Status == "Pending Approval" %}
        <div class="row mt-4">
            <div class="col-md-12">
                <div class="card" id="d-card">
                    <h4 class="mt-2 mx-2 text-dark">Document Approvers</h4>
                    <div class="card-body">
                        <table id="example"
                            class="display table table-striped table-bordered dt-responsive table-responsive-lg"
                            style="width:100%">
                            <thead>
                                <tr id="tops">
                                    <th id="long">Entry No</th>
                                    <th>Name</th>
                                    <th>Sequence</th>
                                    <th>Status</th>
                                    <th>Modified By</th>
                                    <th>Modified Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for Approvers in Approvers %}
                                <tr>
                                    <td>{{Approvers.Entry_No_}}</td>
                                    <td>{{Approvers.Approver_ID}}</td>
                                    <td>{{Approvers.Sequence_No_}}</td>
                                    <td>{{Approvers.Status}}</td>
                                    <td>{{Approvers.Last_Modified_By_User_ID}}</td>
                                    <td id="ModifiedDate{{Approvers.Entry_No_}}">
                                        {{Approvers.Last_Date_Time_Modified}}
                                    </td>
                                    <script>
                                        $("#ModifiedDate{{Approvers.Entry_No_}}")
                                            .empty().append(moment(
                                                    '{{Approvers.Last_Date_Time_Modified}}', "YYYY-MM-DD")
                                                .format(
                                                    'Do MMM YYYY'));
                                    </script>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">New Store Request Line
                    </h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="myForm " id="formAdd" action="{% url 'StoreDetail' res.No_ %}" method="post"
                        novalidate>
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-12">
                                <input type="hidden" name="lineNo" value="0">
                                <input type="hidden" name="myAction" value="insert">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label class="form-label">Item Category<span class="text-danger">*</span></label>
                                <select class="form-select" name="itemCategory" id="itemCategory" required>
                                    <option selected disabled value="">Select Item Category</option>
                                    {% for res in itemsCategory %}
                                    <option value="{{res.Code}}">{{res.Description}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label class="form-label">Items <span class="text-danger">*</span></label>
                                <select class="form-select" name="itemCode" id="allItems">
                                    <option class="after" value="" disabled>--Select--</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label class="form-label">Unit of Measure <span class="text-danger">*</span></label>
                                <select class="form-select" name="Unit_of_Measure" id="Unit_of_Measure">
                                    <option class="after" value="" disabled>--Select--</option>
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <label class="form-label">Quantity <span class="text-danger">*</span></label>
                                <input type="number" class="form-control" name="quantity" required>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success my-3 w-100">Submit</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- Modal -->
<div class="modal fade" id="Attachment" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Upload Attachment</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{% url 'UploadStoreAttachment' res.No_ %}" method="post" class="myForm"
                    enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class=" mb-3">
                        <label class="form-label">Attachments <span class="text-danger">*</span></label>
                        <input class="form-control" name="attachment" type="file" multiple required>
                    </div>
                </form>
                <button type="submit" class="btn btn-success my-3 w-100">Submit</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#document_date")
            .empty().append(moment(
                    '{{res.Document_Date}}', "YYYY-MM-DD")
                .format(
                    'Do MMM YYYY'));
        $('#itemCategory').on('change', function (e) {
            e.preventDefault();
            var ItemCode = $("#itemCategory").val();
            if (ItemCode != null) {
                $("#formAdd select[name='itemCode']").find('.after').nextAll().remove();
                $.ajax({
                    type: 'get',
                    url: '{% url "itemCategory" %}',
                    dataType: 'json',
                    data: {
                        ItemCode: ItemCode
                    },
                    success: function (response) {
                        let options = '';
                        for (var i = 0; i < response.value.length; i++) {
                            if (response.value[i].Item_Category_Code == ItemCode) {
                                options += '<option value=' + response.value[i]
                                    .No_ + '>' + response.value[i].Description +
                                    '</option>';

                            }
                        }
                        $("#formAdd select[name='itemCode']").find('.after').after(options);

                    },
                    error: function (response) {
                        console.log('Something went wrong');
                    }
                });
            } else {
                $("#formAdd select[name='itemCode']").find('.after').nextAll().remove();
            }
        });
        $('#allItems').on('change', function (e) {
            e.preventDefault();
            var ItemNumber = $("#allItems").val();
            if (ItemNumber != null) {
                $("#formAdd select[name='Unit_of_Measure']").find('.after').nextAll().remove();
                $.ajax({
                    type: 'get',
                    url: '{% url "itemUnitOfMeasure" %}',
                    dataType: 'json',
                    data: {
                        ItemNumber: ItemNumber
                    },
                    success: function (response) {
                        let options = '';
                        for (var i = 0; i < response.value.length; i++) {
                            if (response.value[i].Item_No_ == ItemNumber) {
                                options += '<option value=' + response.value[i]
                                    .Code + '>' + response.value[i].Code + ' ' + '-' + ' ' +
                                    '(' +
                                    response.value[i].Qty__per_Unit_of_Measure + ' ' +
                                    'PER' + ' ' +
                                    response.value[i].Code + ')' +
                                    '</option>';

                            }
                        }
                        $("#formAdd select[name='Unit_of_Measure']").find('.after').after(
                            options);

                    },
                    error: function (response) {
                        console.log('Something went wrong');
                    }
                });
            } else {
                $("#formAdd select[name='Unit_of_Measure']").find('.after').nextAll().remove();
            }
        });
    })
</script>
{% endblock %}