<div class="row gx-1 gy-2">
    <div class="col-lg-2 col-sm-6">
        <div class="card-box bg-blue h-100">
            <div class="inner">
                <h3> {{app_leave_list}} </h3>
                <p> Approved Leave Requests</p>
            </div>
            <div class="icon">
                <i class="las la-user-check"></i>
            </div>
            {% if app_leave_list == 0 %}
            <a href="{% url 'leave' %}" class="card-box-footer">New Request <i class="las la-plus"></i></a>
            {% elif app_leave_list > 0  %}
            <a href="{% url 'leave' %}" class="card-box-footer">View All <i class="las la-arrow-circle-right"></i></a>
            {% endif %}
        </div>
    </div>
    <div class="col-lg-2 col-sm-6">
        <div class="card-box bg-orange h-100">
            <div class="inner">
                <h3> {{app_imprest_list}} </h3>
                <p> Approved Imprest Requests </p>
            </div>
            <div class="icon">
                <i class="las la-thumbs-up"></i>
            </div>
            {% if app_imprest_list == 0 %}
            <a href="{% url 'imprestReq' %}" class="card-box-footer">New Request <i class="las la-plus"></i></a>
            {% elif app_imprest_list > 0  %}
            <a href="{% url 'imprestReq' %}" class="card-box-footer">View All <i
                    class="las la-arrow-circle-right"></i></a>
            {% endif %}
        </div>
    </div>
    <div class="col-lg-3 col-sm-6">
        <div class="card-box bg-red h-100">
            <div class="inner">
                <h3> {{app_surrender_list}} </h3>
                <p> Approved Imprest Surrenders </p>
            </div>
            <div class="icon">
                <i class="las la-handshake"></i>
            </div>
            {% if app_surrender_list == 0 %}
            <a href="{% url 'imprestSurr' %}" class="card-box-footer">New Request <i class="las la-plus"></i></a>
            {% elif app_surrender_list > 0  %}
            <a href="{% url 'imprestSurr' %}" class="card-box-footer">View All <i
                    class="las la-arrow-circle-right"></i></a>
            {% endif %}
        </div>
    </div>
    <div class="col-lg-2 col-sm-6">
        <div class="card-box bg-green h-100">
            <div class="inner">
                <h3> {{app_claim_list}} </h3>
                <p> Approved Staff Claims</p>
            </div>
            <div class="icon">
                <i class="las la-hand-holding"></i>
            </div>
            {% if app_claim_list == 0 %}
            <a href="{% url 'claim' %}" class="card-box-footer">New Request <i class="las la-plus"></i></a>
            {% elif app_claim_list > 0  %}
            <a href="{% url 'claim' %}" class="card-box-footer">View All <i class="las la-arrow-circle-right"></i></a>
            {% endif %}
        </div>
    </div>
    <div class="col-lg-3 col-sm-6">
        <div class="card-box bg-dark h-100">
            {% if HOD_User == False %}
            <div class="inner">
                <h3> {{empAppraisal}} </h3>
                <p> New Appraisal Requests </p>
            </div>
            <div class="icon">
                <i class="fa fa-users"></i>
            </div>
            <a href="{% url 'AppraisalRequests' %}" class="card-box-footer">View <i
                    class="las la-arrow-circle-right"></i></a>
            {% elif HOD_User == True %}
            <div class="inner">
                <h3> {{pending_approval_count}} </h3>
                <p> Documents Pending Your Approval </p>
            </div>
            <div class="icon">
                <i class="fa fa-users"></i>
            </div>
            <a href="{% url 'approve' %}" class="card-box-footer">View <i class="las la-arrow-circle-right"></i></a>
            {% endif %}
        </div>
    </div>
</div>