/** @format */

@import url("https://fonts.googleapis.com/css2?family=Gelasio&family=Hind:wght@300&family=Titillium+Web:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

:root {
  --header-height: 3rem;
  --first-color: #144a85;
  --first-color-light: #6c8aaf;
  --green-color: #25cc88;
  --red-color: #e51e25;
  --sand-tan: #e1b382;
  --dark-color: #444a4a;
  --olive: #a3bcb6;
  --white-color: #f7f6fb;
  --normal-font-size: 1rem;
  --z-fixed: 100;
  --primary-font: "Gelasio", serif;
  --normal-font: "Titillium Web", sans-serif;
  --third-font: "Hind", sans-serif;
  --lato-family: "Lato", sans-serif;
}
.green_icon {
  background-color: var(--green-color);
}
.dark_icon {
  background-color: var(--dark-color);
}
.red_icon {
  background-color: var(--red-color);
}
.blue_icon {
  background-color: var(--first-color);
}
.sand_icon {
  background-color: var(--sand-tan);
}
.olive_icon {
  background-color: var(--olive);
}
.smalls a {
  font-size: 0.9rem;
  margin-left: 40px;
  border-left: 2px solid var(--first-color-light);
  margin-bottom: 0rem;
}

.smalls a.active::before {
  display: none;
}

#care {
  margin-left: auto;
  margin-right: 10px;
  color: #222;
  font-size: 15px;
}
.document_card {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 25px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.document_card:hover .download_submit {
  bottom: 0px;
  opacity: 1;
}
.document_card .download_submit {
  background-color: var(--green-color);
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: gold;
  font-size: 1.5rem;
  opacity: 0;
  transform: translateY(50%);
  transition: all 0.5s ease;
}
.document_card .download_submit:hover {
  background-color: var(--green-color);
  color: white;
}
.document_card .document_top_icon {
  font-size: 40px;
  background-color: #0000000d;
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--green-color);
}
.summ-cards {
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
}
.summ-cards .card-title {
  color: #000;
  padding-top: 1rem;
  padding-left: 1rem;
  font-family: var(--lato-family);
  text-shadow: 0 1px 0 white;
}

.c-content-top h5 {
  font-family: var(--lato-family);
  font-size: 1.5rem;
}
.c-content-top h6 {
  font-family: var(--normal-font);
  color: #e59866;
}
.c-content small {
  font-family: var(--primary-font);
  font-size: 1rem;
  color: #000;
  text-shadow: 0 1px 0 white;
}

#care:hover {
  color: #fff;
}

.nav_links {
  padding: 15px;
}

.nav::-webkit-scrollbar {
  width: 9px;
  display: none;
}

.nav::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(112, 110, 110, 0.3);
  border-radius: 10px;
}

.nav::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(168, 167, 167, 0.5);
}

.n-footer {
  margin: 0;
  padding: 0;
  margin-right: -250px;
  background: linear-gradient(
    to right top,
    #e1b382,
    #ccb986,
    #b9bd90,
    #aabf9d,
    #a2bfaa,
    #a4c4b8,
    #aac8c4,
    #b4cbcd,
    #c4d5dc,
    #d6e0e8,
    #e7eaf2,
    #f7f6fb
  );
}

/* main dashboard */
#d-card {
  background: white;
  border-radius: 6px;
  border: 2px solid white;
  box-shadow: 0 2px 2px 0 rgba(172, 170, 170, 0.14),
    0 3px 1px -2px rgba(202, 199, 199, 0.2),
    0 1px 5px 0 rgba(165, 163, 163, 0.12);
}

#d-card .card-title h6 {
  margin-left: 13px;
  margin-top: 13px;
  color: #a6acaf;
  font-size: 16px;
}

#d-card .card-body h4 {
  font-weight: 900;
}

#d-card .card-body small {
  color: var(--green-color);
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 2px;
}

#d-card .card-body p {
  color: #a6acaf;
  font-size: 16px;
}

.activity {
  background: var(--white-color);
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 50%;
  display: inline-block;
}

.activity i {
  color: var(--green-color);
  margin-top: 12px;
}

.a-head {
  display: inline-block;
  color: var(--white-color);
  font-family: var(--primary-font);
}

.a-texts {
  padding-left: 2.7rem;
  font-family: var(--normal-font);
}

.my_activity {
  background: #212f3d;
  padding: 10px;
  border-radius: 6px;
  border: 2px solid #212f3d;
  border-style: dotted;
}

.my_activity:hover {
  background: var(--first-color);
  border: 2px solid var(--first-color);
}

#recents {
  height: 335px;
  overflow: auto;
  scroll-behavior: smooth;
}

#recents::-webkit-scrollbar {
  width: 9px;
}

#recents::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(112, 110, 110, 0.3);
  border-radius: 10px;
}

#recents::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(168, 167, 167, 0.5);
}

.uplod {
  background: var(--first-color);
  padding: 20px;
  color: white;
  border-radius: 5px;
}

.noBtn {
  margin-top: 10px;
  background-color: #e5e7e9;
  color: black;
  border-radius: 15px;
}

#file_up {
  display: none;
}

.previews {
  border: 1px solid grey;
  padding: 5px;
  border-radius: 3px;
}

.previews i {
  color: var(--green-color);
  font-size: 1.9rem;
}

.p-content p {
  color: #333;
}

#p-card:hover {
  background: var(--white-color);
}

.req-card {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
}

.r2 img {
  width: 60px;
  height: 60px;
}
.card-box {
  position: relative;
  color: #fff;
  padding: 20px 10px 40px;
  border-radius: 3px;
}

.card-box:hover {
  text-decoration: none;
  color: #f1f1f1;
}

.card-box:hover .icon i {
  font-size: 100px;
  transition: 1s;
  -webkit-transition: 1s;
}

.card-box .inner {
  padding: 5px 10px 0 10px;
}

.card-box h3 {
  font-size: 27px;
  font-weight: bold;
  margin: 0 0 8px 0;
  white-space: nowrap;
  padding: 0;
  text-align: left;
}

.card-box p {
  font-size: 15px;
}

.card-box .icon {
  position: absolute;
  top: auto;
  bottom: 5px;
  right: 5px;
  z-index: 0;
  font-size: 72px;
  color: rgba(0, 0, 0, 0.15);
}

.card-box .card-box-footer {
  position: absolute;
  left: 0px;
  bottom: 0px;
  text-align: center;
  padding: 3px 0;
  color: rgba(255, 255, 255, 0.8);
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  text-decoration: none;
}

.card-box:hover .card-box-footer {
  background: rgba(0, 0, 0, 0.3);
}

.bg-blue {
  background-color: var(--first-color) !important;
}

.bg-green {
  background-color: #00a65a !important;
}

.bg-orange {
  background-color: #f39c12 !important;
}

.bg-red {
  background-color: #d9534f !important;
}

.bg-other {
  background-color: var(--first-color-light) !important;
}
.c-content-top {
  margin-top: 1rem;
}

.c-content-top h5 {
  margin-bottom: 1rem;
}

.stat_card_one {
  border-radius: 5px !important;
  height: 350px !important;
}

.card {
  border: none;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
}

.card-has-bg .card-footer {
  background: none;
  border-top: none;
}

.card-has-bg .card-footer .media img {
  border: solid 3px rgba(255, 255, 255, 0.3);
}

.card-has-bg .card-meta {
  color: #26bd75;
}

.summ-cards .card-body {
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
}

.summ-cards:hover {
  cursor: pointer;
  transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
}

.summ-cards:hover .card-body {
  margin-top: 30px;
  transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
}

.card .card-img-overlay {
  transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
  background: #234f6d;
  background: linear-gradient(
    0deg,
    rgba(35, 79, 109, 0.3785889356) 0%,
    #455f71 100%
  );
}

/* CSS */
.button-86 {
  all: unset;
  width: 100px;
  height: 30px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-86::after,
.button-86::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all 0.4s;
}

.button-86::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #28282d;
  border-radius: 10px;
}

.button-86::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.button-86:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.button-86:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.button-86:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}
.table-tabs .nav-link {
  background: var(--olive) !important;
  border: none !important;
  font-family: var(--lato-family);
}
.table-tabs .nav-link.active,
.table-tabs .nav-link:focus,
.table-tabs .nav-link:hover {
  background-color: black !important;
  border: none !important;
  color: #fff !important;
  font-family: var(--lato-family);
}
